# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/
virt/

# Flask instance folder
instance/

# Configuration files
*.env
*.ini

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.cache

# Coverage reports
htmlcov/
*.cover
*.py,cover

# IDE files
.vscode/
.idea/
*.swp

# Logs
*.log

# Python scripts
test.py
app.py
Git_Commmands.docx
git_commands.txt
config.py
backup/