
{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}



{% block title %}
    {{ title }}
{% endblock title %}






{% block content %}

<div class="centered-container">
    <div class="form-container shadow-lg" style="width: 800px;">

        <!-- Content -->
        <h2 class="text-center mb-4">Leaderboard</h2>
         
        <div class="divider"></div>

        <div class="mb-5 form-control">

            {% if scores %}
                <table class="table table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Position</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Points</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for name,score in scores.items() %}
                            <tr>
                                <th scope="row"> {{ loop.index }}</th>
                                <td>{{ name }}</td>
                                {% for em, sc in score.items() %}
                                <td>{{ em }}</td>
                                <td>{{ sc }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            {% endif %}

        </div>
    </div>
</div>


{% endblock content %}